*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #222222;
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
}

/* Header styles */

header{
    text-align: center;
    background-color: #87509c;
}

nav ul{
    margin: 0;
    list-style: none;
    display: flex;
    padding: 30px;
    justify-content: flex-end;
    margin-right: 100px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    display: block;
    padding: 5px 15px;
    border-radius: 5px;
}

nav ul li a:hover{
    background-color: #643a79;
}

header h1{
    margin: 50px;
}

header button{
    margin-bottom: 80px;
    text-transform: uppercase;
    background-color:  #eb7d4b;
    border: 3px solid transparent;
    border-bottom: 3px solid #c5673b;
    border-radius: 5px;
    padding: 15px 50px;
    color: white;
}

header button:hover{
    border: 3px inset #c5673b;
}

/* Team styles */

.team_container{
    background-color: #e7f1f8;
    color: #3c4761;
    text-align: center;
    padding: 50px;
    padding-bottom: 100px;
}

.team_container hr{
    width: 50px;
    border: 1px solid #c8d9e5;
}

.team_container h1{
    text-transform: uppercase;
    margin: 0;
}

.team_container .team{
    display: flex;
}

.team_container .team_item p{
    margin: 0;
}

.team_container .team_item .name{
    font-weight: 700;
}

.team_container .team_item .job{
    color:  #55c2e9;
    font-size: 0.8rem;
}

.team_container .team_item .social_media a{
    background-color: #c8d9e5;
    width: 30px;
    line-height: 30px;
    border-radius: 50%;
    color: white;
    font-size: 0.7rem;
    text-decoration: none;
}

.team_container .team_item .description{
    margin: 15px;
}

.team_container .portrait{
    background-color: #696969;
    width: 150px;
    height: 150px;
    display: inline-block;
    border-radius: 50%;
}

.team_container p{
    margin: 20px 0 50px 0;
}

/* Skills styles */

.skills_container{
    text-align: center;
    background-color: white;
    color: #3c4761;
    padding-top: 100px;
    padding-bottom: 100px;
}

.skills_container h1{
    margin: 0;
    text-transform: uppercase;
}

.skills_container > p{
    margin: 50px;
}

.skills_container .skills{
    display: flex;
    justify-content: center;
}

.skills_container .skills .skills_item{
    margin: 0 50px 0 50px;
}

.skills_container .skills .skills_item .percent{
    font-size: 2rem;
    font-weight: normal;
    width: 130px;
    line-height: 120px;
    border: 5px solid #34b7eb;
    border-radius: 50%;
}

.skills_container .skills .skills_item:nth-child(2) .percent{
    border: 5px solid #dc4481;
}

.skills_container .skills .skills_item:nth-child(3) .percent{
    border: 5px solid #17c5aa;
}

.skills_container .skills .skills_item:nth-child(4) .percent{
    border: 5px solid #ec7d4f;
}

.skills_container .skills .skills_item p{
    font-weight: 700;
}

/* About syles */

.about_container{
    padding: 100px;
    text-align: center;
    background-color: #d74680;
}

.about_container h1{
    text-transform: uppercase;
    margin: 0;
}

.about_container hr{
    width: 50px;
    border: 1px solid #b73c6d;
}

.about_container .about{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.about_container .about .about_item{
    flex-basis: 50%;
}

.about_item{
    display: flex;
    text-align: left;
}

.about_item p{
    margin: 0 0 15px 30px;
}

.about_item .data{
    flex-basis: 80%;
}

.about_container .about .about_item .portrait{
    height: 70px;
    flex-basis: 70px;
    border-radius: 50%;
    background-color: #787878;
}

.about_item .name{
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 3px;
}

.about_item .job{
    color: #ffdd99;
    margin-top: 3px;
}

/* Contact styles */

.contact_container{
    background-color: #3c5499;
    padding: 100px 100px 50px;
    text-align: center;
}

.contact_container h1{
    margin: 0;
    text-transform: uppercase;
}

.contact_container hr{
    width: 50px;
    border: 1px solid #273a71;
}

.contact_container form{
    margin: 50px 50px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

form input[type="text"],
form input[type="email"]{
    flex-basis: 49%;
}

form input,
form textarea,
form input::placeholder,
form textarea::placeholder{
    background-color: #273a71;
    border: 0;
    padding: 10px;
    color: white;
}

form textarea{
    margin-top: 30px;
    width: 100%;
    height: 100px;
}

form input[type="submit"]{
    margin: 50px auto;
    padding: 15px 50px;
    border: 5px solid transparent;
    border-radius: 5px;
    background-color: #55c2e9;
    border-bottom: 5px solid #3d95b4;
    font-weight: 700;
}

form input[type="submit"]:hover{
    border: 5px inset #3d95b4;
}

/* Social-media styles */

.social_media{
    padding: 30px;
    background-color: #304585;
    text-align: center;
}

.social_media a{
    text-decoration: none;
    color: white;
    padding: 30px;
}

.social_media a:hover{
    background-color: #55c2e9;
}